<nb-card>
  <nb-card-header>
    <h3>List Parent </h3>
    <a class="d-flex justify-content-end" routerLink="/pages/parent/add">
      <button nbButton status="primary" class="add-button" size="small"> Add Parent </button>
    </a>
  </nb-card-header>

  <nb-card-body>
   

    <table class="table">
      <thead>
      <tr>
        <th width="2%">STT</th>
        <th width="10%">Name Parent</th>
        <th width="10%">Name Student</th>
        <th width="10%">Date of birth</th>
        <th width="10%">Adrress</th>
        <th width="10%">Email</th>
        <th width="10%">Gender</th>
        <th width="10%">Phone</th>
        <th width="10%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let parent of Listpage; index as i">
        <td>{{ i+1 }}</td>
        <td>{{ parent.ho_ten}}</td>
        <td>
          <div *ngFor="let student of listStudent">
            <span *ngIf="parent.maHS == student.maHS">
                {{student.ho_ten}}
            </span>
          </div>
        </td>
        
        <td>{{ parent.ngay_sinh}}</td>
        <td>{{ parent.dia_chi}}</td>
        <td>{{ parent.email}}</td>
        <td>{{ parent.gioi_tinh}}</td>
        <td>{{ parent.dien_thoai}}</td>
        
        <td>
          <a routerLink="/pages/parent/update/{{parent.maPH}}">
            <button nbButton status="success" size="medium" class="float-right">
              <i class="nb-edit"></i>
            </button>
          </a>
          <!-- routerLink="/pages/parent/delete/{{parent.maPH}}" -->
          <a >
            <button (click)="delete(parent.maPH)" nbButton status="danger" size="medium" class="float-right ml-1 m-lg-2">
              <i class="nb-trash" style="width: 10px;"></i>
            </button>
          </a>
          
        </td>
      </tr>
      </tbody>
    </table>
    <app-paginator
    [current_page]="currentPage"
    [last_page]="lastPage"
    [apiUrl]="apiurl"
    (dataList)="getPage($event)">
    >
</app-paginator>
  </nb-card-body>
</nb-card>
