<nb-card>
  <nb-card-header>
    <h5>List Teacher</h5>
  </nb-card-header>

  <nb-card-body>
    <a routerLink="/pages/teacher/add">
      <button nbButton status="primary" class="add-button" size="small">
        <i class="nb-plus"></i> Add Teacher
      </button>
    </a>

    <table class="table" *ngIf="teachers?.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Class</th>
          <th>Phone</th>
          <th>Subject</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.gender }}</td>
          <td>{{ teacher.class }}</td>
          <td>{{ teacher.phone }}</td>
          <td>{{ teacher.subject }}</td>
          <td>
            <a routerLink="/pages/teacher/update">
              <button nbButton status="success" size="medium" class="float-right">
                <i class="nb-edit"></i>
              </button>
            </a>
            <button nbButton status="danger" size="medium" class="float-right ml-1 m-lg-2" (click)="delete(teacher.id)">
              <i class="nb-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="teachers?.length === 0">
      No teachers found.
    </div>
  </nb-card-body>
</nb-card>