<nb-card>
  <nb-card-header>
    <h5>List Teacher</h5>

    <div class="card-body mt-2">
      <input type="text" class="col-3 form-control" [(ngModel)]="listFilter" placeholder="Search teachers" />
      <a routerLink="/pages/teacher/add" class="d-flex justify-content-end">
        <button nbButton status="primary" class="add-button"  size="small">
          Add Teacher
        </button>
      </a>
    </div>
  </nb-card-header>

  <nb-card-body>


    <table class="table" *ngIf="teachers?.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Level</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of Listpage ">
          <td>{{ teacher.ten_GV }}</td>
          <td>{{ teacher.gioi_tinh }}</td>
          <td>{{ teacher.trinh_do }}</td>
          <td>{{ teacher.email }}</td>
          <td>{{ teacher.dien_thoai }}</td>
          <td>
            <a routerLink="/pages/teacher/update/{{teacher.maGV}}">
              <button nbButton status="success" size="medium" class="float-right">
                <i class="nb-edit"></i>
              </button>
            </a>
            <button  nbButton status="danger" size="medium" class="float-right ml-1 m-lg-2"  (click)="delete(teacher.maGV)">
              <i class="nb-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator [current_page]="currentPage" [last_page]="lastPage" [apiUrl]="apiurl" (dataList)="getPage($event)"></app-paginator>
    <div *ngIf="teachers?.length === 0">
      No teachers found.
    </div>
    
  </nb-card-body>
</nb-card>
