<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <h5>Add Teacher</h5>
      </nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="create()" [formGroup]="addForm">
          <div class="row mt-3">
            <div class="col-lg-6">
              <label for="ten_GV">Name</label>
              <input type="text" nbInput fullWidth placeholder="Name" name="ten_GV" formControlName="ten_GV" />
              <span class="text-danger" *ngIf="
                  addForm.get('ten_GV')?.invalid &&
                  (addForm.get('ten_GV')?.dirty ||
                    addForm.get('ten_GV')?.touched)
                ">
                Name không được bỏ trống !
              </span>
            </div>
            <div class="col-lg-6">
              <label for="gioi_tinh">Gender</label>
              <select class="form-select" name="gioi_tinh" formControlName="gioi_tinh">
                <option value="" disabled selected>Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-6">
              <label for="email">Email</label>
              <input type="email" name="email" nbInput fullWidth placeholder="Email" formControlName="email" />
              <div class="text-danger" *ngIf="
                  addForm.get('email')?.invalid &&
                  (addForm.get('email')?.dirty ||
                    addForm.get('email')?.touched)
                ">
                <span *ngIf="addForm.get('email')?.errors?.required">Email không được bỏ trống!.</span>
                <span *ngIf="addForm.get('email')?.errors?.email">Email không đúng định dạng!.</span>
              </div>
            </div>
            <div class="col-lg-6">
              <label for="trinh_do">Level</label>
              <input type="text" name="trinh_do" nbInput fullWidth placeholder="Level" formControlName="trinh_do" />
              <span class="text-danger" *ngIf="
                  addForm.get('trinh_do')?.invalid &&
                  (addForm.get('trinh_do')?.dirty ||
                    addForm.get('trinh_do')?.touched)
                ">
                Level không được bỏ trống !
              </span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-6">
              <label for="password">Password</label>
              <input type="password" name="mat_khau" nbInput fullWidth placeholder="Password"
                formControlName="mat_khau" />
                <div class="text-danger" *ngIf="
                addForm.get('mat_khau')?.invalid &&
                (addForm.get('mat_khau')?.dirty ||
                addForm.get('mat_khau')?.touched)
              ">
              <span *ngIf="addForm.get('mat_khau')?.errors?.required">Password không được bỏ trống!.</span>
              <span *ngIf="addForm.get('mat_khau')?.errors?.minlength">Password từ 8 ký tự!.</span>
            </div>
            </div>
            <div class="col-lg-6">
              <label for="dien_thoai">Phone Number</label>
              <input type="number" name="dien_thoai" nbInput fullWidth placeholder="Phone Number"
                formControlName="dien_thoai" />
                <div class="text-danger" *ngIf="
                addForm.get('dien_thoai')?.invalid &&
                (addForm.get('dien_thoai')?.dirty ||
                  addForm.get('dien_thoai')?.touched)
              ">
              <span *ngIf="addForm.get('dien_thoai')?.errors?.required">Phone không được bỏ trống!.</span>
              <span *ngIf="addForm.get('dien_thoai')?.errors?.pattern">Phone phải có đúng 11 chữ số!</span>
            </div>
            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col-lg-12">
              <button type="submit" nbButton status="primary" class="btn btn-primary float-start me-2">Add</button>
              <a routerLink="/pages/teacher/list">
                <button nbButton status="danger" class="btn btn-danger float-start">Cancel</button>
              </a>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
