<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h5>Update Blocks</h5>
        </nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="updateBlocks()" [formGroup]="updateForm">
            <div class="row mt-3">
              <div class="col-lg-12">
                <label for="ten_khoi">Blocks</label>
                <input type="text" pattern="[0-9]{2}" [(ngModel)]="oneBlock.ten_khoi" formControlName="ten_khoi" nbInput fullWidth placeholder="Education Level" ngModel />
              </div>
              <span class="text-danger"
                *ngIf="updateForm.get('ten_khoi')!.invalid && (updateForm.get('ten_khoi')!.dirty || updateForm.get('ten_khoi')!.touched)">Not
                be empty !
              </span>
            </div>
            <div class="row mt-3">
              <div class="col-mb-4">
                <button type="submit" nbButton status="primary" class="btn btn-primary">
                  Update
                </button>
                <a routerLink="/pages/grade/list"><button nbButton class="btn btn-secondary">
                  Cancel
                </button></a>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  