<nb-card>
  <nb-card-header>
    <h5>List Teacher Allocation</h5>
    <div class="card-body mt-2">
      <input type="text" class="col-3 form-control" [(ngModel)]="listFilter" placeholder="Search teachers" />
      <a routerLink="/pages/assignment/add" class="d-flex justify-content-end">
        <button nbButton status="primary" class="add-button" size="small">
          Add Teacher Allocation
        </button>
      </a>
    </div>
  </nb-card-header>

  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th>Teacher </th>
          <th>Subject </th>
          <th>Class </th>
          <th>teaching shift</th>
          <th>Day</th>
          <th>Semester </th>
          <th>School Year </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher_as of teaching">
          <td>
            <div *ngFor="let teacher of teachers">
              <span *ngIf="teacher_as.maGV == teacher.maGV">{{ teacher.ten_GV }}</span>
            </div>
          </td>
          <td>
            <div *ngFor="let subject of subjects">
              <span *ngIf="teacher_as.maMon == subject.maMon">{{ subject.ten_mon }}</span>
            </div>
          </td>
          <td>
            <div *ngFor="let class of classes">
              <span *ngIf="teacher_as.maLop == class.maLop">{{ class.ten_lop }}</span>
            </div>
          </td>
          <td>{{ teacher_as.ca_day }}</td>
          <td>{{ teacher_as.thu }}</td>
          <td>
            <div *ngFor="let semester of semesters">
              <span *ngIf="teacher_as.maHK == semester.maHK">{{ semester.hoc_ki }}</span>
            </div>
          </td>
          <td>
            <div *ngFor="let schoolyear of school_years">
              <span *ngIf="teacher_as.maNH == schoolyear.maNH">{{ schoolyear.nam_hoc }}</span>
            </div>
          </td>
          <td>
            <a routerLink="/pages/assignment/update/{{teacher_as.maASM}}">
              <button nbButton status="success" size="medium" class="float-right">
                <i class="nb-edit"></i>
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
