<nb-card-body>
    <button nbButton status="primary" size="small">
        <i class="nb-plus"></i> Add Teacher
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers">
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>{{ teacher.username }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.age }}</td>
                <td>
                    <button nbButton status="success" size="small">
                        <i class="nb-edit"></i> Edit
                      </button>
                      <button nbButton status="danger" size="small">
                        <i class="nb-trash"></i> Delete
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
</nb-card-body>