<div class="custom-paginator pt-4">
    <div class="row" class="heee">
        <div></div>
        <button class="btn btn-primary mr-1" [disabled]="hasPreviousPage" (click)="goFirtPage()">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary mr-1" (click)="previousPages()">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
        </button>
        <p class="paginator-page" style="margin-top: 10px;">{{current_page}}/{{last_page}}</p>
        <button class="btn btn-primary mr-1" (click)="nexPages()">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary mr-1" [disabled]="hasNextPage" (click)="goLastPage()">
            <i class="fa fa-forward" aria-hidden="true"></i>
        </button>
    </div>
</div>