<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                <h5>Edit Semester</h5>
            </nb-card-header>
            <nb-card-body [formGroup]="updateForm">
                <div class="row">
                    <div class="col-6">
                        <label for=""><strong>Semester</strong></label>
                        <input type="text" nbInput fullWidth formControlName="hoc_ki" [(ngModel)]="semeById.hoc_ki">
                        <div class="text-danger"
                            *ngIf="updateForm.get('hoc_ki')!.invalid && (updateForm.get('hoc_ki')!.dirty || updateForm.get('hoc_ki')!.touched)">
                            Học kì không được bỏ trống !
                        </div>
                    </div>
                    <div class="col-6">
                        <label for=""><strong>School Year</strong></label>
                        <div class="full-name-inputs">
                            <nb-select fullWidth [selected]="'Năm học'" formControlName="maNH" [(ngModel)]="semeById.maNH">
                                <nb-option *ngFor="let y of listYear" [value]="y.maNH">
                                    {{ y.nam_hoc }}
                                </nb-option>
                            </nb-select>
                        </div>
                        <div class="text-danger"
                            *ngIf="updateForm.get('maNH')!.invalid && (updateForm.get('maNH')!.dirty || updateForm.get('maNH')!.touched)">
                            Vui lòng chọn năm học !
                        </div>
                    </div>

                </div>
                <button (click)="saveUpdateSemester()" nbButton status="primary" class="add-button" size="small">
                    Edit
                </button>
                <button (click)="cancle()" nbButton status="danger" class="cancle-button" size="small">
                    Cancle
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>