<nb-card>
    <nb-card-header>
        <h5>Subject lisst</h5>
      <a routerLink="/pages/subject/add" class="d-flex justify-content-end">
        <button nbButton status="primary" class="add-button" size="small">Add Subject</button>
      </a>
    </nb-card-header>

    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th width="35%">Ordinal number</th>
                    <th width="50%">Subject</th>
                    <th>Act</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of LitsSub; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ subject.ten_mon }}</td>
                    <td>
                      <a routerLink="/pages/subject/update/{{subject.maMon}}">
                        <button nbButton status="success" size="small" class="float-right">
                            <i class="nb-edit"></i>
                        </button>
                    </a>
                          <button nbButton status="danger" size="small" class="float-right ml-1" (click)="deleteSubject(subject.maMon)">
                            <i class="nb-trash" ></i>
                          </button>
                    </td>
                </tr>
            </tbody>

        </table>
        <app-paginator
    [current_page]="currentPage"
    [last_page]="lastPage"
    [apiUrl]="apiUrl"
    (dataList)="getPage($event)"></app-paginator>
    </nb-card-body>
  </nb-card>
