<nb-card>
    <nb-card-header>
        Bảng danh sách môn học
    </nb-card-header>
  
    <nb-card-body>
        
  
        <table class="table">
            <thead>
                <tr>
                    <th>Mã môn</th>
                    <th>Môn học</th>
                    <th>Giáo viên đảm nhiệm</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjecttable">
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.teacher }}</td>
                    
                    <td>
                        <button nbButton status="success" size="small" class="float-right">
                            <i class="nb-edit"></i> Sửa
                          </button>
                          <button nbButton status="danger" size="small" class="float-right ml-1">
                            <i class="nb-trash"></i> Xóa
                          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
  </nb-card>