<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h5>UPDATE</h5>
        </nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="updateClass()" [formGroup]="updateForm">
            <div class="row mt-3">
              <div class="col-lg-6">
                <label for="maKhoi">Blocks</label>
                <select class="form-select" formControlName="maKhoi" [(ngModel)]="oneClass.maKhoi">
                    <option value="" disabled selected>Select Blocks</option>
                  <option *ngFor="let blocks of listBlocks" value="{{blocks.maKhoi}}">{{blocks.ten_khoi}}</option>
                </select>
                <span class="text-danger"
                  *ngIf="updateForm.get('maKhoi')!.invalid && (updateForm.get('maKhoi')!.dirty || updateForm.get('maKhoi')!.touched)">Not
                  be empty !
                </span>
              </div>
              <div class="col-lg-6">
                <label for="maGV">Teachers</label>
                <select class="form-select" formControlName="maGV" [(ngModel)]="oneClass.maGV">
                  <option value="" disabled selected>Select Teachers</option>
                  <option *ngFor="let teachers of listGV" value="{{teachers.maGV}}">{{teachers.ten_GV}}</option>
                </select>
                <span class="text-danger"
                  *ngIf="updateForm.get('maGV')!.invalid && (updateForm.get('maGV')!.dirty || updateForm.get('maGV')!.touched)">Not
                  be empty !
                </span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <label for="ten_lop">Class Name</label>
                <input type="text" [(ngModel)]="oneClass.ten_lop" formControlName="ten_lop" nbInput fullWidth placeholder="Education Level" ngModel />
              </div>
              <span class="text-danger"
                *ngIf="updateForm.get('ten_lop')!.invalid && (updateForm.get('ten_lop')!.dirty || updateForm.get('ten_lop')!.touched)">Not
                be empty !
              </span>
            </div>
            <div class="row mt-3">
              <div class="col-mb-3">
                <button type="submit" nbButton status="primary" class="btn btn-primary">
                  Update
                </button>
                <a routerLink="/pages/class/list"><button nbButton class="btn btn-secondary">
                  Cancel
                  </button></a>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
