<nb-card>
    <nb-card-header>
        <h5>List Semestersr</h5>
    </nb-card-header>

    <nb-card-body>
        <a routerLink="/pages/semester/add">
            <button nbButton status="primary" class="add-button" size="small">
                Add Semester
            </button>
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Semester</th>
                    <th>School Year</th>
                    <th>Act</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let semester of listSeme; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ semester.hoc_ki }}</td>
                    <td>
                        <div *ngFor="let y of listYear">
                            <span *ngIf="semester.maNH == y.maNH">
                                {{y.nam_hoc}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/pages/semester/update/{{semester.maHK}}">
                            <button nbButton status="success" size="small" class="float-right">
                                <i class="nb-edit"></i>
                            </button>
                        </a>
                        <a routerLink="/pages/semester/delete/{{semester.maHK}}">
                            <button (click)="delete(semester.maHK)" nbButton status="danger" size="small" class="float-right ml-1 m-lg-2">
                                <i class="nb-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>