<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header><h5>Thêm năm học</h5></nb-card-header>
            <nb-card-body>
              <label for=""><strong>Năm học</strong></label>
              <input type="text" nbInput fullWidth placeholder="Nhập năm học">
              <button nbButton status="primary" class="add-button" size="small">
                <i class="nb-plus"></i> Thêm
            </button>
            </nb-card-body>
          </nb-card>
    </div>
</div>


