<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <h5>Add Assignment</h5>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="addForm" (ngSubmit)="create()">
          <div class="row">
            <div class="col-lg-6">
              <label for="teacher">Teacher</label>
              <select class="form-control" id="teacher" formControlName="maGV">
                <option *ngFor="let teacher of teachers" [value]="teacher.maGV">{{ teacher.ten_GV }}</option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="subject">Subject</label>
              <select class="form-control" id="subject" formControlName="maMon">
                <option *ngFor="let subject of subjects" [value]="subject.maMon">{{ subject.ten_mon }}</option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-6">
              <label for="semester">Semester</label>
              <select class="form-control" id="semester" formControlName="maHK">
                <option *ngFor="let semester of semesters" [value]="semester.maHK">{{ semester.hoc_ki }}</option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="day">Day</label>
              <select class="form-control" id="day" formControlName="thu">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-6">
              <label for="session">School Years</label>
              <select class="form-control" id="session" formControlName="maNH">
                <option *ngFor="let school_year of school_years" [value]="school_year.maNH">{{ school_year.nam_hoc }}</option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="ca_day">teaching shift</label>
              <input type="number" class="form-control" id="ca_day" formControlName="ca_day" placeholder="Number of periods">
              <div class="text-danger" *ngIf="
                  addForm.get('ca_day')?.invalid &&
                  (addForm.get('ca_day')?.dirty ||
                    addForm.get('ca_day')?.touched)
                ">
              <span *ngIf="addForm.get('ca_day')?.errors?.required">teaching shift cannot be left blank.</span>
              <span *ngIf="addForm.get('ca_day')?.errors?.min">teaching shift cannot be less than 0.</span>
              <span *ngIf="addForm.get('ca_day')?.errors?.max">teaching shift cannot be greater than 5.</span>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-12">
              <label for="class">Class</label>
              <select class="form-control" id="class" formControlName="maLop">
                <option *ngFor="let class of classes" [value]="class.maLop">{{ class.ten_lop }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col-lg-12">
              <button nbButton status="primary" class="btn btn-primary float-start me-2">Add</button>
              <a routerLink="/pages/assignment/list">
                <button nbButton status="danger" class="btn btn-danger float-start">Cancel</button>
              </a>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
