<div class="container">
    <div class="buttons-row" class="text-center">
        <button (click)="grade12()" nbButton class="btn btn-primary">Grade 12</button>
        <button (click)="grade11()" nbButton class="btn btn-primary">Grade 11</button>
        <button (click)="grade10()" nbButton class="btn btn-primary">Grade 10</button>
    </div>
    <table  class="col-12" style="text-align: center; margin-top: 30px;" *ngIf="check == 2">
        <thead>
            <tr>
                <th width="15%">ID</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of class11">
                <td>{{e.id}}</td>
                <td>{{e.class}}</td>
            </tr>
        </tbody>
    </table>
    <table class="col-12" style="text-align: center; margin-top: 30px;" *ngIf="check == 1">
        <thead>
            <tr>
                <th width="15%">ID</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of class10">
                <td>{{e.id}}</td>
                <td>{{e.class}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table" *ngIf="check == 3">
        <thead>
          <tr>
            <th width="20%">ID</th>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of class12">
                <td>{{e.id}}</td>
                <td>{{e.class}}</td>
            </tr>
        </tbody>

      </table>
    
</div>