<nb-card>
  <nb-card-header>
    <h3 class="">List Student </h3>
    <a routerLink="/pages/student/add" class="d-flex justify-content-end">
      <button nbButton status="primary" class="add-button" size="small">Add Student</button>
    </a>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>gender</th>
        <th>Date_of_birth</th>
        <th>Adrress</th>
        <th>email</th>
        <th>Class</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of List; index as i">
        <td>{{ i+1 }}</td>
        <td>{{ student.ho_ten}}</td>
        <td>{{ student.gioi_tinh}}</td>
        <td>{{ student.ngay_sinh}}</td>
        <td>{{ student.dia_chi}}</td>
        <td>{{ student.email}}</td>

        <td>
          <div *ngFor="let class of listClass">
            <span *ngIf="student.maLop == class.maLop">
              {{class.ten_lop}}
            </span>
          </div>
        </td>


        <td>
          <a routerLink="/pages/student/update/{{student.maHS}}">
            <button nbButton status="success" size="medium" class="float-right">
              <i class="nb-edit" [nbIcon]="editIconConfig" [iconSize]="'large'"></i>
            </button>
          </a>

          <a routerLink="/pages/student/delete/{{student.maHS}}">
            <button (click)="deleteStudent(student.maHS)" nbButton status="danger" size="medium" class="float-right ml-1 m-lg-2">
              <i class="nb-trash" [nbIcon]="trashIconConfig" [iconSize]="'large'"></i>
            </button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
