<nb-card>
  <nb-card-header>
    <h3 >List Student </h3>
    <a class="d-flex justify-content-end" routerLink="/pages/student/add">
      <button nbButton status="primary" class="add-button" size="small">Add Student</button>
    </a>
  </nb-card-header>
  <nb-card-body>
    

    <table class="table">
      <thead>
      <tr>
        <th width="5%">STT</th>
        <th width="12%">Name</th>
        <th width="10%">gender</th>
        <th width="10%">Date_of_birth</th>
        <th width="10%">Adrress</th>
        <th width="15%">email</th>
        <th width="10%">Class</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of Listpage; index as i">
        <td>{{ stt+i+1 }}</td>
        <td>{{ student.ho_ten}}</td>
        <td>{{ student.gioi_tinh}}</td>
        <td>{{ student.ngay_sinh}}</td>
        <td>{{ student.dia_chi}}</td>
        <td>{{ student.email}}</td>

        <td>
          <div *ngFor="let class of listClass">
            <span *ngIf="student.maLop == class.maLop">
              {{class.ten_lop}}
            </span>
          </div>
        </td>


        <td>
          <a routerLink="/pages/student/update/{{student.maHS}}">
            <button nbButton status="success" size="medium" class="float-right">
              <i class="nb-edit" [nbIcon]="editIconConfig" [iconSize]="'large'"></i>
            </button>
          </a>
          <!-- routerLink="/pages/student/delete/{{student.maHS}}" -->
          <a>
            <button (click)="delete(student.maHS)" nbButton status="danger" size="medium" class="float-right ml-1 m-lg-2">
              <i class="nb-trash" [nbIcon]="trashIconConfig" [iconSize]="'large'"></i>
            </button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <app-paginator
                [current_page]="currentPage"
                [last_page]="lastPage"
                [apiUrl]="apiurl"
                (dataList)="getPage($event)"
                (STT)="getStt($event)">
                >
  </app-paginator>
  </nb-card-body>

</nb-card>
