.container{
    height: 15rem;
    display:  flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 15rem;
    width: 30rem;
    background-color: rgb(209, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
}
button{
    width: 6rem;
    margin-top: 4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}