<div class="container-fluid p-0">
  <div class="jumbotron jumbotron-fluid text-white text-center">
    <div class="container">
      <h1 class="display-4">Chào mừng bạn đến với trang quản trị học sinh THPT</h1>
    </div>
  </div>

  <div class="container mt-4 text-center">
    <p class="lead">Trang quản trị giúp bạn quản lý thông tin học sinh, theo dõi điểm số và các hoạt động khác một cách hiệu quả.</p>
    <a href="#" class="btn-lg mx-2">Quản lý học sinh</a>
    <a href="#" class="btn-lg mx-2">Xem báo cáo</a>
  </div>
</div>
